/*
****** WEATHER HEADER
*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
}

html, body {
    background: rgb(0, 0, 128);
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

header {
    display: flex;
    justify-content: center;
    background-color: beige;
}

h1 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headerLogo {
    height: 48px;
    width: 48px;
}

/*
****** SEARCH SECTION
*/

#searchCity {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
}

input {
    height: 30px;
    width: 150px;
    text-align: center;
    font-size: 100%;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: beige;
}

button {
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: beige;
}

button:hover {
    border-color: beige;
    font-weight: 700;
}

/*
****** WEATHER CARD
*/

.weatherCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 450px;
    border: 2px solid;
    border-radius: 15px;
    padding: 0;
    background: beige;
    margin-bottom: 20px;
}

#weatherContent {
    display: flex;
    justify-content: center;
}

.weatherHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 700;
}

h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.weatherMiddle {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

p {
    margin: 0;
}

.weatherMiddleLeft {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.temperatur {
    display: flex;
}

.middleLeftP {
    display: flex;
    font-size: 24px;
    font-weight: 700;
}

.leftText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
****** FORECAST CARD
*/

.forecast {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 120px;
    padding: 0;
    background: beige;
    border-radius: 15px;
    border: 2px solid;
}

#forecastContainer {
    display: flex;
    justify-content: center;
}

h4 {
    margin: 0;
    text-align: center;
}

.foreCastMiddle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foreCastMiddleP {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.forecastText {
    font-weight: 700;
    text-align: center;
}

/*
***** SAFE
*/

.safeContainer {
    height: 100px;
    width: 200px;
    border: 2px solid;
    border-radius: 15px;
    background-color: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#saveSearched {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gridLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

/*
****** FOOTER SECTION
*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    min-height: 50px;
    max-height: 120px;
}

.footerP {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}