/*
****** WEATHER HEADER
*/

html, body {
    background: rgb(0, 0, 128);
}

.header {
    display: flex;
    justify-content: center;
    background-color: beige;
}

.ulHeader {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

h1 {
    margin: 0;
}

.headerLogo {
    height: 48px;
    width: 48px;
}

/*
****** SEARCH SECTION
*/

.cityContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

input {
    height: 30px;
    width: 150px;
    text-align: center;
    font-size: 100%;
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: beige;
}

button {
    border: 2px solid;
    border-radius: 15px;
    cursor: pointer;
    background-color: beige;
}

button:hover {
    border-color: beige;
    font-weight: 700;
}

/*
****** WEATHER CARD
*/

.weatherCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 450px;
    border: 2px solid;
    border-radius: 15px;
    padding: 0;
    background: beige;
    margin-bottom: 20px;
}

#weatherContent {
    display: flex;
    justify-content: center;
}

.weatherHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 700;
}

h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.weatherMiddle {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

p {
    margin: 0;
}

.weatherMiddleLeft {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.temperatur {
    display: flex;
}

.middleLeftP {
    display: flex;
    font-size: 24px;
    font-weight: 700;
}

.leftText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
****** FORECAST CARD
*/

.forecastCardSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 200px;
    height: 120px;
    padding: 0;
    background: beige;
    border-radius: 15px;
    border: 2px solid;
}

.forecastCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#forecastContainer {
    display: flex;
    justify-content: center;
}

h4 {
    margin: 0;
    text-align: center;
}

.foreCastMiddle {
    display: flex;
    flex-direction: row;
}

.foreCastMiddleP {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.forecastText {
    font-weight: 700;
    text-align: center;
}